// $theme-light-blue: hsl(200, 50%, 80%);
// $theme-mid-blue: hsl(200, 50%, 50%);
// $theme-dark-blue: hsl(200, 50%, 20%);
// $theme-font: 'Trebuchet MS';
@use 'base';

.b-header {
    margin: 10px 0px;
    color: base.$theme-mid-blue;
    font-family: base.$theme-font;
    font-size: 1 em;
}

.b-navigation {
    margin: 40px;
}

// ul element
.b-navigation__menulist {
    padding: 0px;
    margin: 0px;
    li {
        margin: 0px 5px;
        padding: 10px;
        border-radius: 10px;
    }
}

// li with a element
.b-navigation__menulist__item {
    list-style-type: none;
    background-color: base.$theme-light-blue;
    display: inline;
    cursor: pointer;

    &:hover {
        a {
            color: base.$theme-light-blue;
        }
        background-color: base.$theme-dark-blue;
    }
    &--active {
        box-shadow: 0px 2px 0px 0px base.$theme-dark-blue;
    }
}
.b-navigation__menulist__item a {
    color: base.$theme-dark-blue;
    font-family: base.$theme-font;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        color: base.$theme-light-blue;
    }
}